<div class="container">
  <ul class="grid style-1">
    <li>
      <figure class="card">
        <!-- <img src="../img/mani_sq.jpg" width="400" height="400"> -->
        <div class="img mani"></div>
        <figcaption class="card">
          <h3>Mani</h3>
          <p>Developer, <strong>By heart and will</strong></p>
          <ul class="social">
            <li class="general"><a href="mailto:im.manikanta@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
            <li class="facebook"><a href="https://goo.gl/2P7Khf"><i class="fa fa-facebook"></i></a></li>
            <li class="google"><a href="https://goo.gl/5YccaJ"><i class="fa fa-google-plus"></i></a></li>
            <li class="twitter"><a href="https://goo.gl/9nOgi5"><i class="fa fa-twitter"></i></a></li>
            <li class="general"><a href="tel:+917418271862"><i class="fa fa-phone"></i></a></li>
          </ul>
        </figcaption>
      </figure>
    </li>
  </ul>
</div>