<nav class="navbar navbar-bg navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref=".dashboard">
                <span><img class="nav-center" alt="Brand" src="img/profile.png"></span>
                <!-- <span class="nav-center tag-line">A Starter template!</span> -->
            </a>
            <p class="navbar-text tag-line">Utility project!</p>
        </div>
    </div>
</nav>
<div ui-view class="template-holder"></div>
<nav class="navbar footer">
    <div class="container">
        <span class="nav-center">Made with <span class="glyphicon glyphicon-heart text-danger"></span> in India</span>
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref=".contact">Contact</a></li>
            <li><a ui-sref=".aboutus">About</a></li>
        </ul>
    </div>
</nav>
